<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <form action="/save" method="post">
        <label for="first name">First Name:</label>
        <input type="text" name="first_name">
        <label for="last name">Last Name:</label>
        <input type="text" name="last_name">
        <label for="occupation">Occupation:</label>
        <input type="text" name="occupation">
        <input type="submit" value="Add New Friend">
    </form>
    <h1>These are my friends</h1>
    <table>
        <head>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Occupation</th>
            <th>Creation Time</th>
            <th>Update Time</th>
        </head>
        <body>
            {% for friend in friends %}
            <tr>
                <td>{{friend.id}}</td>
                <td>{{friend.first_name}}</td>
                <td>{{friend.last_name}}</td>
                <td>{{friend.occupation}}</td>
                <td>{{friend.created_at}}</td>
                <td>{{friend.updated_at}}</td>
            </tr>
            {% endfor %}
        </body>
    </table>
    
</body>
</html>