<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='/style.css')}}">
</head>
<body>
    <section class="m-5">
        <div class="row align-items-center mb-3">
            <p class='col-2 m-0'>Your Gold:</p>
            <input class='col-2' type="text" id='' value='0' disabled>
        </div>
        <div class="row">
            <div class="col-3 justify-content-center border p-3">
                <h3 class="text-center">Farm</h3>
                <p class="text-center">(earns 10-20 golds)</p>
                <form action="/process_money">
                    <input type="hidden" name="min_value" value="10">
                    <input type="hidden" name="max_value" value="20">
                    <div class="row justify-content-center">
                        <input class="px-2 mx-auto" type="submit" value="Find Gold!">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>