<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dojo {{dojo1.id}}!</title>
</head>
<body>
    <section class="m-5">
        <h1>{{dojo1.name}} Ninjas</h1>
        <table class="my-3">
            <head>
                <th class="pr-3">First Name</th>
                <th class="pr-3">Last Name</th>
                <th class="pr-3">Age</th>
            </head>
            <body>
                {% for ninja in dojo1.ninjas %}
                <tr>
                    <td>{{ninja.first_name}}</td>
                    <td>{{ninja.last_name}}</td>
                    <td>{{ninja.age}}</td>
                </tr>
                {% endfor %}
            </body>
        </table>
        <a href="/">Home</a>
    </section>    
</body>
</html>