<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-center pt-4">
        <div class="p-3 border w-40 ">
            <form class ='pe-3' action="/process" method="post">
                <h1 class="text-center">Dojo Survey</h1>
                <div class="row my-3">
                    <label class='col-6' for="name">Your Name:</label>
                    <input class='col-6' type="text" name="name">
                </div>
                <div class="row mb-3">
                    <label class='col-6' for="location">Dojo Location:</label>
                    <select class='col-6' name="location">
                        <option value="Chicago">Chicago</option>
                        <option value="Seattle">Seattle</option>
                        <option value="Burbank">Burbank</option>
                        <option value="Online">Online</option>
                    </select>
                </div>
                <div class="row mb-3">
                    <label class='col-6' for="language">Favorite Language:</label>
                    <select class='col-6' name="language">
                        <option value="C#">C#</option>
                        <option value="Javascript">Javascript</option>
                        <option value="Python">Python</option>
                        <option value="HTML">HTML</option>
                    </select>
                </div>
                <p>Choose your belt</p>
                <div class="row align-items-center mb-3">
                    <input class='col-3' type="radio" id="Yellow" name="belt" value="Yellow">
                    <label class='col-3' for="yellow">Yellow</label>
                    <input class='col-3' type="radio" id="Orange" name="belt" value="Orange">
                    <label class='col-3' for="orange">Orange</label>
                    <input class='col-3' type="radio" id="Red" name="belt" value="Red">
                    <label class='col-3' for="red">Red</label>
                    <input class='col-3' type="radio" id="Black" name="belt" value="Black">
                    <label class='col-3' for="black">Black</label>
                </div>
                <label for="comment">Comment (Optional):</label>
                <div class="row ps-3 my-2">
                    <textarea name="comment" cols="5" rows="5"></textarea>
                </div>
                <div class="row ps-3">
                    <input type="submit">
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>